<%= simple_form_for(restaurant) do |f| %>
  <%= f.input :name  %>
  <%= f.input :address %>
  <%= f.input :phone_number, :required => false %>
  <%= f.input :category, :collection => %w[chinese italian japanese french belgian] %>
  <div class='form-submit mt-5'>
    <%= f.submit :class => 'btn-create-restaurant'%>
  </div>
<% end %>
